services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: noxel
      POSTGRES_PASSWORD: noxel
      POSTGRES_DB: noxel
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
